.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.todoTitle {
  padding: 6px 8px;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

.submitTodoBtn {
  height: 30px;
  border: 1px solid grey;
  border-radius: 4px;
  color: white;
  background-color: #28a645;
  cursor: pointer;
}
.submitTodoBtn:active {
  background-color: white;
  color: #28a645;
}
